<div class="container">
    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span>I am
        </span><br>
        <span>Ashwini Waghmode</span><br>
        <span>Angular Developer</span>
    </div>

    <div class="profile">
        <div class="profile-bg">
            <img src="../../assets/Ashwini.png" alt="">
        </div>
    </div>

    <!-- Add button for downloading resume -->
    <div class="resume-download">
        <a href="assets/resume_ashwiniwaghmode.pdf" download="Ashwini_Waghmode_Resume.pdf">
            <button>Download Resume</button>
        </a>
    </div>
</div>